:root {
  --widget-animation-delay-offset: 0s;
}

@keyframes main-widget-bounce {
  0% {
    transform: scale(var(--scale)) translateY(calc(var(--yOffset)));
  }

  20% {
    transform: scale(var(--scale)) translateY(calc(-1.3rem + var(--yOffset)));
  }

  50% {
    transform: scale(var(--scale)) translateY(calc(-0.7rem + var(--yOffset)));
  }

  80% {
    transform: scale(var(--scale)) translateY(calc(-1.1rem + var(--yOffset)));
  }

  100% {
    transform: scale(var(--scale)) translateY(calc(-1rem + var(--yOffset)));
  }
}

.main-widget {
  --scale: 1.3;
  --yOffset: 0.3rem;
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  transform: scale(var(--scale)) translateY(var(--yOffset));
  animation: main-widget-bounce 0.5s ease-out calc(0.5s + var(--widget-animation-delay-offset)) forwards;
  grid-area: widget;
  justify-self: right;
  z-index: 3;
  overflow: visible;
}

.main-widget > .main-widget-icon {
  z-index: 1;
}

.main-widget-slideout {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  transform-origin: center right;
  top: -1px;
  width: 13rem;
  height: 100%;
  right: 1.55rem;
  overflow: hidden;
  pointer-events: none;
}

@keyframes widget-slide-in {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  100% {
    transform: translateX(-105%);
    opacity: 1;
  }
}

@keyframes widget-slide-out {
  0% {
    transform: translateX(-105%);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

.main-widget-text {
  display: flex;
  align-items: center;
  position: relative;
  right: calc(-100% - 1rem);
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.7rem;
  white-space: nowrap;
  border-radius: 20px 0 0 20px;
  background-color: #055425;
  animation: 
    widget-slide-in 1.7s ease-in-out calc(0.5s + var(--widget-animation-delay-offset)) forwards,
    widget-slide-out 1.7s ease-in-out calc(5.2s + var(--widget-animation-delay-offset)) forwards;
  color: #fff;
  opacity: 0;
}

.main-widget-icon {
  outline: none;
}