.admin-setup-menu-container {
  position: absolute;
  align-self: center;
}

.admin-setup-menu-container, .admin-setup-menu {
  overflow: visible !important;
}

.admin-setup-menu .main-header {
  margin: 0;
}

.admin-setup-menu .configuration-area {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: var(--spacing-xxxl)
}

.admin-setup-menu .side-config-area {
  height: 100%;
  align-self: center;
}

.admin-setup-menu .side-config-area div:first-child {
  padding-top: var(--spacing-xl);
}

.admin-setup-menu .submit.btn, .admin-setup-menu .reset-btn {
  flex: 1;
}

.admin-setup-menu .reset-btn {
  color: var(--dark-green);
  border: 0px solid transparent;
  background-color: transparent;
  transition: border 0.2s ease-out;
}

.dark-app-theme .admin-setup-menu .reset-btn {
  filter: brightness(2);
}

.admin-setup-menu .reset-btn:hover {
  background-color: transparent;
  border: 1px solid var(--dark-green);
}

.dark-app-theme .admin-setup-menu .reset-btn:hover {
  border: 1px solid #fff;
}

.admin-setup-menu .submit-btn {
  color: var(--dark-green);
  background-color: var(--dark-mint) !important;
}

.admin-setup-menu .card-lock-radio {
  position: relative;
}

.admin-setup-menu .card-lock-radio.enabled::after {
  content: '';
  position: absolute;
  color: var(--primary-txt-color);
  --scale: 30px;
  top: calc(var(--scale) / 2 * -1 + 9px);
  left: calc(var(--scale) / 2 * -1 + 9px);
  width: var(--scale);
  height: var(--scale);
  border: 1px solid var(--primary-txt-color);
  border-radius: 50%;
}

.admin-setup-menu .card-lock-radio span span {
  display: none;
}

.admin-setup-menu .card-lock-radio::before {
  transform: scale(1.2);
}

.monday-style-radio-button-component__radio-label {
  color: var(--primary-txt-color) !important;
}

.admin-setup-menu .checkbox > span {
  color: var(--primary-txt-color) !important;
}

.admin-setup-menu .card-lock-radio:nth-child(1)::before {
  content: url('../../images/lock.svg');
  position: absolute;
  left: 0;
  top: 0;
}

.admin-setup-menu .card-lock-radio:nth-child(2)::before {
  content: url('../../images/unlock.svg');
  position: absolute;
  left: 0;
  top: 0;
}

.dark-app-theme .admin-setup-menu .card-lock-radio:nth-child(1)::before {
  content: url('../../images/lock-light.svg');
}

.dark-app-theme .admin-setup-menu .card-lock-radio:nth-child(2)::before {
  content: url('../../images/unlock-light.svg');
}